/*//////////////////////////////*/
/* List Item Slide-In Animation */
.slide-in-appear {
    opacity: 0;
    transform: translateX(-40vw);
    z-index: 1;
}

.slide-in-appear.slide-in-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms linear, transform 300ms linear;
}

.slide-in-enter {
    opacity: 0;
    transform: translateX(-40vw);
    z-index: 1;
}

.slide-in-enter.slide-in-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms linear, transform 300ms linear;
}
/*----------------------------*/



/*////////////////////////////////*/
/* Add Item Fade-In-Out Animation */
.popup-appear {
    transform: scale(.10);
    z-index: 1;
}

.popup-appear.popup-appear-active {
    transform: scale(1);
    transition: transform 150ms linear;
}

.popup-enter {
    transform: scale(0);
    z-index: 1;
}

.popup-enter.popup.enter.active {
    transform:  scale(1);
    transition: transform 150ms linear;
}


/*----------------------------*/